@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}
/* estilo de la imagen */
.titulo {
  width: 100%;
  height: 180px;
  padding-top: 5px;
}
/* estilo del reproductor */
iframe {
  width: 100%;
  height: 180px;
  padding-top: 5px;
}

/* INICIO ESTILOS DEL NAVEGADOR CON SU RESPECTIVO RESPONSIVO */

.navbar {
  background-color: rgb(248, 207, 152);
  padding: 5px 8px;
}

.nav-list {
  list-style-type: none; /* Sin viñetas */
  margin: 0;
  padding: 0;
  display: flex; /* Coloca los elementos en fila */
  justify-content: space-around; /* Espaciado entre elementos */
}

.nav-list li a {
  color: rgb(20, 16, 250); /* Color del texto */
  text-decoration: none; /* Elimina subrayado */
  padding: 5px 10px; /* Espaciado interno en los enlaces */
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.nav-list li a:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
  border-radius: 2px; /* Bordes redondeados */
}

.hamburger {
  display: none; /* Se oculta en pantallas grandes */
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Estilo para cambiar el menú a columna en pantallas pequeñas */
  .nav-list {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #f1bf90;
    width: 40%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: height 0.4s ease;
  }

  .nav-list.open {
    height: 300px; /* El tamaño depende de la cantidad de enlaces */
  }

  .nav-list li {
    margin: 15px 0;
  }

  .hamburger {
    display: flex; /* Muestra el menú hamburguesa en pantallas pequeñas */
  }
}
/* FIN DE ESTILOS NAVEGADOR */

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-container {
  position: relative;
  width: 400px;
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
}

/* responsivos*/

.grid-container {
  display: grid;
  gap: 5px;
  grid-template:
    "logo" 200px
    "reproductor" 200px
    "navegador" 50px
    "gallery" 500px;

  .logo {
    grid-area: logo;
  }

  .reproductor {
    grid-area: reproductor;
  }
  .navegador {
    grid-area: navegador;
  }
  .gallery {
    flex-direction: column;
    grid-area: gallery;
  }
}

@media (min-width: 700px) and (max-width: 1600px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .logo {
    width: 60%;
    height: 200px;
  }
  .reproductor {
    width: 35%;
    height: 200px;
  }
  .navegador {
    width: 100%;
    height: 50px;
  }
  .gallery {
    display: flex;
    display: contents;
    gap: 10px;
  }

  .image-container {
    align-items: center;
    align-content: center;
    width: 30%;
    height: 150px;
  }

  .overlay {
    font-size: 14px;
  }
}
