@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  padding: 20px;
}
/* estilo de la imagen */
.titulo {
  width: 100%;
  height: 180px;
  padding-top: 5px;
}
/* estilo del reproductor */
iframe {
  width: 100%;
  height: 180px;
  padding-top: 5px;
}

/* INICIO ESTILOS DEL NAVEGADOR CON SU RESPECTIVO RESPONSIVO */

.navbar {
  background-color: rgb(248, 207, 152);
  padding: 5px 8px;
}

.nav-list {
  list-style-type: none; /* Sin viñetas */
  margin: 0;
  padding: 0;
  display: flex; /* Coloca los elementos en fila */
  justify-content: space-around; /* Espaciado entre elementos */
}

.nav-list li a {
  color: rgb(20, 16, 250); /* Color del texto */
  text-decoration: none; /* Elimina subrayado */
  padding: 5px 10px; /* Espaciado interno en los enlaces */
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.nav-list li a:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
  border-radius: 2px; /* Bordes redondeados */
}

.hamburger {
  display: none; /* Se oculta en pantallas grandes */
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Estilo para cambiar el menú a columna en pantallas pequeñas */
  .nav-list {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #f1bf90;
    width: 40%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: height 0.4s ease;
  }

  .nav-list.open {
    height: 300px; /* El tamaño depende de la cantidad de enlaces */
  }

  .nav-list li {
    margin: 15px 0;
  }

  .hamburger {
    display: flex; /* Muestra el menú hamburguesa en pantallas pequeñas */
  }
}
/* FIN DE ESTILOS NAVEGADOR */

/* INICIO ESTILOS FORMULARIO */
.form-container {
  background-color: rgb(243, 169, 169);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100px;
  align-items: baseline;
}
.form-container h4 {
  text-align: center;
  margin-bottom: 20px;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="submit"] {
  width: 90%;
  padding: 15px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

.nombre {
  font-size: 15px;
}

.title {
  font-size: 15px;
}
.form-container {
  width: 100%;
  height: 450px;
}
.xat {
  width: 100%;
  height: 450px;
  margin-top: 25px;
}
.sponsor {
  margin-top: 85px;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
  padding: 5px;
}

.galeria img {
  width: 75%;
  height: 75%;

  border-radius: 5px; /* Añadir bordes redondeados, opcional */
}
/* FIN ESTILOS FORMULARIO */

.grid-container > * {
  box-shadow: 10px 6px 37px -13px color(srgb rgba(10, 2, 2, 0.404)
        rgba(9, 10, 9, 0.616) rgba(19, 19, 20, 0.616));
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.grid-container {
  display: grid;
  gap: 5px;
  grid-template:
    "logo" 200px
    "reproductor" 200px
    "navegador" 50px
    "form" 400px
    "xat" 400px
    "sponsor" 600px
    "footer" 100px;

  .logo {
    grid-area: logo;
  }

  .reproductor {
    grid-area: reproductor;
  }
  .navegador {
    grid-area: navegador;
  }
  .form {
    grid-area: form;
  }
  .xat {
    grid-area: xat;
  }
  .sponsor {
    grid-area: sponsor;
  }
  .footer {
    grid-area: footer;
    background-color: rgb(204, 0, 255);
  }
}
.anuncio {
  font-size: 10px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .grid-container {
    grid-template:
      "logo reproductor" 200px
      "navegador navegador" 50px
      "form xat" 400px
      "form xat" 100px
      "sponsor sponsor" 400px
      "footer footer" 100px;
  }
}

@media (min-width: 900px) and (max-width: 1600px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }
  .logo {
    width: 60%;
    height: 200px;
  }
  .reproductor {
    width: 35%;
    height: 200px;
  }
  .navegador {
    width: 100%;
    height: 50px;
  }
  .form {
    width: 25%;
    height: 400px;
  }
  .xat {
    width: 40%;
    height: 480px;
  }
  .sponsor {
    margin-top: 10px;
    width: 25%;
    height: 450px;
  }
  .footer {
    width: 100%;
    height: 200px;
  }
}
